<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true}) do |f| %>
  <%= devise_error_messages! %>
 
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :user_name %><br />
    <%= f.text_field :user_name, autofocus: true %>
 <% unless f.object.errors[:user_name].blank? %>
    <span id="error_explanation">
      user name<%= f.object.errors[:user_name].join(", ") %>
    </span>
  <% end -%>

  </div>
<br />
  <div><%= f.label :gender %> <br />
      <%= f.radio_button :gender, "MALE" %>
      <%= f.label :gender, "MALE" %>
      <%= f.radio_button :gender, "FEMALE" %>
      <%= f.label :gender, "FEMALE" %>
 
  </div>
<br />
<div>
<%= f.label :avatar %> <br />
<%= f.file_field :image %>
</div>
<br />

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
